/Coursework/PatientManagementSystem/nbproject/private/
/Coursework/PatientManagementSystem/build/
/Coursework/PatientManagementSystem/dist/
/Practicals/Week06/PubSimulation/nbproject/private/
/Coursework/Soft252-PatientManagementSystem-NetBeans/nbproject/private/
/Coursework/Soft252-PatientManagementSystem-NetBeans/build/
/Coursework/Soft252-PatientManagementSystem-NetBeans/dist/